{% extends 'base.html.twig' %}

{% block body %}
    <h1>Internal Server Error</h1>
    <p>An unexpected error seems to have occured. Why not try refreshing your page?</p>
    <p>Please contact us if the problem persists.</p>
{% endblock %}
