{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden</h1>
    <p>Authentication was provided, but the authenticated user is not permitted to perform the requested operation.</p>
{% endblock %}