/app/config/parameters.yml
/phpunit.xml.dist
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/composer.phar

/supervisor/*.conf

!/var/data
/var/data/geoimage/*
!/var/data/geoimage/.gitkeep
/var/data/modflow/*
!/var/data/modflow/.gitkeep
!/var/tmp/.gitkeep
tests/results
users.json
