parameters:
  database_host:      '%database.host%'
  database_port:      '%database.port%'
  database_name:      '%database.name%'
  database_user:      '%database.user%'
  database_password:  '%database.password%'

  mailer_auth_mode:   '%mailer.auth_mode%'
  mailer_encryption:  '%mailer.encryption%'
  mailer_host:        '%mailer.host%'
  mailer_port:        '%mailer.port%'
  mailer_transport:   '%mailer.transport%'
  mailer_user:        '%mailer.user%'
  mailer_password:    '%mailer.password%'

  secret:             '%env.secret%%'

  router.request_context.base_url:  '%base_url%'
  router.request_context.host:      '%host%'
  router.request_context.scheme:    '%scheme%'

  data_folder:        '%env.data_folder%'
  temp_folder:        '%env.temp_folder%'

  rabbit_mq_host:     '%rabbitmq.host%'
  rabbit_mq_port:     '%rabbitmq.port%'
  rabbit_mq_user:     '%rabbitmq.user%'
  rabbit_mq_password: '%rabbitmq.password%'
  rabbit_mq_vhost:    '%rabbitmq.vhost%'

  rabbit_mq_calculation_queue:            '%rabbitmq.calculation_queue%'
  rabbit_mq_calculation_finished_queue:   '%rabbitmq.calculation_finished_queue%'
  rabbit_mq_optimization_queue:           '%rabbitmq.optimization_queue%'
  rabbit_mq_optimization_progress_queue:  '%rabbitmq.optimization_progress_queue%'
  rabbit_mq_read_data_queue:              '%rabbitmq.read_data_queue%'
  rabbit_mq_geo_processing_queue:         '%rabbitmq.geo_processing_queue%'
  rabbit_mq_interpolation_queue:          '%rabbitmq.interpolation_queue%'
