body {
    background: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
}

.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: #666666;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 52%, rgba(240,240,240,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(52%, rgba(247,247,247,1)), color-stop(100%, rgba(240,240,240,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 52%, rgba(240,240,240,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 52%, rgba(240,240,240,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 52%, rgba(240,240,240,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 52%, rgba(240,240,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 );
}

.top-bar {
    margin: 5px;
}

