html {

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

h1, h2, h3, h4, p {
    color: #666666;
}

body h1 {
    margin: 0;
}

body h2 {
    margin: 12px 0 18px 0;
    font-size: 25px;
}

.navbar {
    margin-top: 5px;
    margin-bottom: 0;
    background: transparent;
    border-color: transparent;
}

.navbar li { color: #000 }

.navbar-brand {
    padding: 10px;
}

.navbar-brand img {
    margin: 0 0 0 10px;
    padding: 0px;
    height: 40px;
}

.navbar-nav li a {
    font-weight: 300;
    font-size: 18px;
}

.navbar-nav li.active a {
    font-weight: 500;
}

.navbar-right .dropdown-toggle{
    padding: 5px;
    margin: 8px;
    border: 1px solid #777;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #00ACE4;
    background: none;
}

.side_nav {
    font-size: 1.8rem;
    font-weight: 100;
}

.side_nav ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.side_nav li {
    margin-bottom: 0.25rem;
    list-style: none;
}

.side_nav a {
    display: block;
    padding: 0;
    border: 0;
    color: #999999;
    text-decoration: none;
}

.side_nav li a.active {
    color: #298eea;
}

.side_nav {
    padding: 0;
    border: 0;
    color: #999999;
}

.side_nav ul > li > ul {
    padding: 0;
    margin-left: 25px;
    list-style-position: inside;
}

.breadcrumb {
    margin: 10px 0 5px 10px;
    list-style: none;
    font-weight: 300;
}

.panel {
    width: 100%;
    padding: 5px;
}

.chart {
    height: 200px;
    margin: 30px 30px 30px 20px;
}

.map {
    height: 500px;
}

.map_small {
    height: 300px;
}

.grid-map {
    height: 250px;
}

.panel h2 {
    font-size: 25px;
    font-weight: 200;
}

.panel h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
}

.panel label,
.panel p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
}

.panel input,
.panel textarea {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}

.panel select {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
}

/* Disable with media queries */
.equal, .equal>div[class*='col-'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.nav-tabs {
    margin-bottom: 20px;
}

.nav-tabs>li>a
{
    font-size: 15px;
    text-align: center;
    font-weight: 300;
}

.nav-tabs>li>a:hover
{
    background: transparent;
    border: 1px solid transparent;
}

/**
.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:active,
.btn:focus,
.btn:hover {
    background: none;
}

.btn.active:focus,
.btn.active:hover,
.btn:active:focus {
    background-color: #e6e6e6;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none !important;
}
*/

.top-margin-20 {
    margin-top: 20px;
}

.top-margin-40 {
    margin-top: 40px;
}

hr {
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    float: none;
}

td {
    font-size: 16px;
    font-weight: 200;
    vertical-align: middle;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.log {
    background: black;
    max-height: 300px;
    overflow-y: scroll;
}

#log {
    padding: 5px;
    color: white;
    font-family: "Courier New", 'Open Sans', sans-serif;
    font-size: 10px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}