.graph label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin-right: 20px;
}

.graph.axis path,
.graph.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.graph form {
    position: absolute;
    right: 10px;
    top: 10px;
}