.leaflet-control{
    opacity: 0.5;
}

.legend {
    width: 30px;
    border-radius: 5px;
    opacity:1;
    line-height: 22px;
    color: #555;
    overflow: hidden;
}
.legend i {
    font-style: normal;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: -2px 2px 2px rgba(150, 150, 150, 1);
    width: 100%;
    float: left;
    margin-right: 2px;
}

.leaflet-verticalcenter {
    position: absolute;
    top: 50%; /* possible because the placeholder's parent is the map */
    transform: translateY(-50%); /* using the CSS3 Transform technique */
    padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

.layers {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.layers h4 {
    margin: 0 0 5px;
    color: #777;
}

#scenarios {
    position:absolute;
    top: 0;
    left: -500px;
    height: 100%;
    z-index: 10;
}

#scenarios .flip p {
    width: 28px;
    padding: 5px;
    white-space: nowrap;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

#scenarios .flip {
    width:20px;
    left: 0;
    height:100%;
    float: right;
    cursor: pointer;
}

#scenarios .flip .scenarios_label{
    color: white;
    border: 1px solid white;
    background-color: deepskyblue;
    position: absolute;
    bottom: 5%;
}

#scenarios .panel {
    left:0;
    width: 500px;
    height: 100%;
    float: left;
    background: rgba(255,255,255,0.8);
}

#scenarios .panel .image {
    padding-right: 0;
}

#scenarios .panel h1 {
    margin-top: 0;
    font-size: small;
}

#scenarios .panel p {
    font-size: small;
}

#scenarios .panel .inactive_scenario {
    background: none;
    opacity: 0.5;
}

#scenarios .panel .list-group-item-action:hover {
    background: rgba(0,0,0,.1);
}

#scenarios .panel .active_scenario {
    background: rgba(255,255,255,1);
    opacity: 1;
}

#scenarios img {
    width: 100%;
}

.heading h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

#sidebar {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 1;
}

#toolbox {
    width: 300px;
    background: rgba(200,200,200,0.5);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #FFFFFF;
    margin-bottom: 10px;
}

#toolbox .boundary_list_item{
    padding: 5px 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#toolbox .boundary_list_item .tools_menu {
    top:0;
    position: absolute;
    left: 102%;
    width: 200px;
}

#toolbox .boundary_list_item .tools_menu img {
    margin-left: 4px;
    display: inline;
    vertical-align: top;
    float: none;
}

#toolbox .btn-calculation {
    padding: 10px;
}

#models {
    height: 0;
    overflow: hidden;
    background-color: #e9e9e9;
}

#models-map {
    background-color: #e9e9e9;
    width: 100%;
    height: 300px;
}

#logo {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.logo {
    display: block;
    margin: 0 auto;
}

#models_label {
    color: white;
    border: 1px solid white;
    background-color: deepskyblue;
    cursor: pointer;
    position: absolute;
    left: 40px;
    z-index: 2;
}

#models_label p {
    font-size: 1.2em;
    padding: 5px 10px 5px 5px;
    margin: 0;
    z-index: 2;
}

#models_label .icon {
    padding: 0 5px 2px 5px;
}

#toolbox-content p{
    font-size: 1.2em;
    font-weight: 200;
}

.toolbox-element,
.models-element {
    margin: 0 10px;
}

.toolbox-element h4 {
    font-size: 1.2em;
    font-weight: 200;
}

.toolbox-element a,
.models-element a {
    text-decoration: none;
    color: black;
}

#toolbox .description {
    background: rgba(255,255,255,0.8);
    padding: 10px;
}

#toolbox .icon {
    padding: 0 4px 2px 0;
}

.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f107";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f105";    /* adjust as needed, taken from bootstrap.css */
}




