swagger: '2.0'
info:
  description: "This is the Inowas-Server Api Documentation."
  version: "1.0.0"
  title: "Inowas DSS Backend"
  contact:
    email: "ralf.junghanns@gtu-dresden.de"
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
host: "api.inowas.hydro.tu-dresden.de"
basePath: "/api"
tags:
  - name: "user"
    description: "Everything about the users"
  - name: "modflowmodel"
    description: "Everything to build a ModflowModel (T03)"
  - name: "soilmodel"
    description: "Everything to build a Soilmodel (T03)"
  - name: "scenarioanalysis"
    description: "The ScenarioAnalysis Tool (T07)"
schemes:
  - "https"
paths:
  /users/credentials:
    post:
      tags:
        - "user"
      summary: "Get the API-Key of the user from credentials"
      description: ''
      operationId: "getApiKey"
      consumes:
        - "application/x-www-form-urlencoded"
      produces:
        - "application/json"
      parameters:
        - name: "username"
          in: "formData"
          description: "The users Username"
          required: true
          type: "string"
        - name: "password"
          in: "formData"
          description: "The users Password"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            properties:
              api_key:
                type: "string"
        400:
          description: "Invalid username/password supplied"

  /modflowmodels:
    get:
      tags:
        - "modflowmodel"
      summary: "Returns the list of ModflowModel Projects from the User"
      description: ''
      operationId: "modflowModelMyProjects"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ModflowModelListItem'
      security:
        - api_key: []
    post:
      tags:
        - "modflowmodel"
      summary: "Creates a new modflowmodel"
      description: ''
      operationId: "addModflowModel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "ModflowModelObject that needs to be added"
          required: true
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "Hanoi 2005-2007"
              description:
                type: "string"
                example: "ModflowModel of Hanoi Area 2005-2007"
              area_geometry:
                type: "object"
                $ref: '#/definitions/Geometry'
              grid_size:
                type: "object"
                $ref: '#/definitions/GridSize'
              time_unit:
                type: "object"
                $ref: '#/definitions/TimeUnit'
              length_unit:
                type: "object"
                $ref: '#/definitions/LengthUnit'

      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '405':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}:
    get:
      tags:
        - "modflowmodel"
      summary: "Find ModflowModel by ID"
      description: "Returns a single ModflowModel with ModelDetails"
      operationId: "getModflowModelById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ModflowModelDetails'
        '400':
          description: "Invalid ID supplied"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Updates data of existing ModflowModel"
      description: ''
      operationId: "updateModflowModel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel to update"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "ModflowModelObject that needs to be added"
          required: true
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "Hanoi 2005-2007"
              description:
                type: "string"
                example: "ModflowModel of Hanoi Area 2005-2007"
              area_geometry:
                type: "object"
                $ref: '#/definitions/Geometry'
              grid_size:
                type: "object"
                $ref: '#/definitions/GridSize'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '405':
          description: "Invalid input"

      security:
        - api_key: []

  /modflowmodels/{id}/boundaries:
    get:
      tags:
        - "modflowmodel"
      summary: "Get boundary-list from model by ID"
      description: "Returns a list of all boundaries with ids, types, names, geometry"
      operationId: "getModflowModelBoundaryList"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            $ref: '#/definitions/ModflowModelBoundaryListItem'
      security:
        - api_key: []
    post:
      tags:
        - "modflowmodel"
      summary: "Add a boundary to modflowmodel by id"
      description: "Adds a boundary with name, type, geometry to a modflowmodel"
      operationId: "addModflowModelBoundary"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary that needs to be added"
          required: true
          schema:
            type: "object"
            $ref: '#/definitions/ModflowModelBoundaryListItem'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '405':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodel/{id}/boundaries/{bid}:
    get:
      tags:
        - "modflowmodel"
      summary: "Get boundary by modelId and BoundaryId"
      description: "Returns the details of a boundary with id, type, name, geometry, metadata, observationpoints and observationPointValues"
      operationId: "getModflowModelBoundary"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            $ref: '#/definitions/ModflowModelBoundaryDetails'
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update boundary by modflowModelId and boundaryId"
      description: "Updates a boundary with name, type, geometry"
      operationId: "updateModflowModelBoundary"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary that needs to be added"
          required: true
          schema:
            type: "object"
            $ref: '#/definitions/ModflowModelBoundaryListItem'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '405':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodel/{id}/boundaries/{bid}/observationpoints/{oid}:
    get:
      tags:
        - "modflowmodel"
      summary: "Get observationpoint and values by modflowmodelId, boundaryId and observationPointId"
      description: "Returns the observationPoint details"
      operationId: "getModflowModelBoundaryObservationPointValue"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationPoint"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            $ref: '#/definitions/ModflowModelBoundaryObservationPoint'
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update observationpoint values by modflowmodelId, boundaryId and observationPointId"
      description: "Updates and return an redirect to the getter"
      operationId: "updateModflowModelBoundaryObservationPointValue"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationPoint"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "ObservationPointObject that needs to be updated"
          required: true
          schema:
            type: "object"
            $ref: '#/definitions/ModflowModelBoundaryObservationPoint'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '405':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}:
    get:
      tags:
        - "soilmodel"
      summary: "Returns the soilmodelDetails by SoilmodelId"
      description: ''
      operationId: "getSoilmodelById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of soilmodel to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            $ref: '#/definitions/Soilmodel'
      security:
        - api_key: []

  /soilmodels/{id}/layers:
    get:
      tags:
        - "soilmodel"
      summary: "Returns the layers list"
      description: ''
      operationId: "getSoilmodelById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of soilmodel to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            $ref: '#/definitions/Soilmodel'
      security:
        - api_key: []


  /scenarioanalysis/my/projects:
    get:
      tags:
        - "scenarioanalysis"
      summary: "Returns the list of ScenarioAnalysis Projects from the User"
      description: ''
      operationId: "scenarioAnalysisMyProjects"
      produces:
        - application/json
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ScenarioAnalysis'
      security:
        - api_key: []

  /scenarioanalysis/public/projects:
    get:
      tags:
        - "scenarioanalysis"
      summary: "Returns the list of ScenarioAnalysis Projects from the User"
      description: ''
      operationId: "scenarioAnalysisPublicProjects"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ScenarioAnalysis'
      security:
        - api_key: []

# SECURITY
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "X-AUTH-TOKEN"
    in: "header"

# MODELS
definitions:
  ModflowModelDetails:
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      user_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      user_name:
        type: "string"
        example: "John Doe"
      name:
        type: "string"
        example: "Hanoi 2005-2007"
      description:
        type: "string"
        example: "ModflowModel of Hanoi Area 2005-2007"
      area_geometry:
        type: "object"
        $ref: '#/definitions/PolygonGeometry'
      time_unit:
        type: "object"
        $ref: '#/definitions/TimeUnit'
      lenth_unit:
        type: "object"
        $ref: '#/definitions/LengthUnit'
      grid_size:
        type: "object"
        $ref: '#/definitions/GridSize'
      bounding_box:
        type: "object"
        $ref: '#/definitions/BoundingBox'
      boundaries:
        type: "array"
        items:
          type: "string"
  ModflowModelListItem:
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      user_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      user_name:
        type: "string"
        example: "John Doe"
      name:
        type: "string"
        example: "Hanoi 2005-2007"
      description:
        type: "string"
        example: "ModflowModel of Hanoi Area 2005-2007"
      area_geometry:
        type: "object"
        $ref: '#/definitions/PolygonGeometry'
      grid_size:
        type: "object"
        $ref: '#/definitions/GridSize'
      bounding_box:
        type: "object"
        $ref: '#/definitions/BoundingBox'
  ModflowModelBoundaryListItem:
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      name:
        type: "string"
        example: "Well 123"
      type:
        type: "object"
        $ref: '#/definitions/BoundaryType'
      geometry:
        type: "object"
        $ref: '#/definitions/Geometry'
      metadata:
        type: "array"
  ModflowModelBoundaryDetails:
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      name:
        type: "string"
        example: "Well 123"
      type:
        type: "object"
        $ref: '#/definitions/BoundaryType'
      geometry:
        type: "object"
        $ref: '#/definitions/Geometry'
      metadata:
        type: "array"
  ModflowModelBoundaryObservationPoint:
    type: "object"
    properties:
      id:
        type: "string"
        example: "b69b8575-9501-44d4-af75-7e5cb353ff16"
      name:
        type: "string"
        example: "RH 48"
      geometry:
        type: "object"
        $ref: "#/definitions/PointGeometry"
      values_description:
        type: "array"
        items:
          type: "string"
        example:
          - "date_time"
          - "stage"
          - "bottom"
          - "conductivity"
      values:
        type: "array"
        items:
          type: "array"
          items:
            type: "string"
          example:
            - "2005-08-15T00:00:00+00:00"
            - "12.01"
            - "10.7"
            - "1000"
  Soilmodel:
    type: "object"
    properties:
      id:
        type: "string"
        example: "32d97bf4-3935-44c2-9b8b-1a2e5a581c9f"
      user_id:
        type: "string"
        example: "a538039b-c676-4ea9-9a2d-61210e42bc06"
      name:
        type: "string"
        example: "Soilmodel Hanoi Area"
      description:
        type: "string"
        example: "Description Soilmodel Hanoi Area"
      layers:
        type: "array"
        items:
          type: "object"
          $ref: '#/definitions/SoilmodelLayerListItem'
      borelogs:
        type: "array"
        items:
          type: "object"
          $ref: '#/definitions/SoilmodelBoreLogListItem'
      public:
        type: "boolean"
        example: true

  SoilmodelLayerListItem:
    type: "object"
    properties:
      id:
        type: "string"
        example: "2c6dd0c1-dfea-481c-b808-a6cc699f04fb"
      name:
        type: "string"
        example: "Top-Layer"
      description:
        type: "string"
        example: "Top-Layer Description"
      number:
        type: "integer"
        example: 0
  SoilmodelLayerDetails:
    type: "object"
    properties:
      id:
        type: "string"
        example: "2c6dd0c1-dfea-481c-b808-a6cc699f04fb"
      name:
        type: "string"
        example: "Top-Layer"
      description:
        type: "string"
        example: "Top-Layer Description"
      number:
        type: "integer"
        example: 0
      values:
        type: "object"
        $ref: '#/definitions/SoilmodelLayerValues'

  SoilmodelLayerValues:
    type: "object"
    properties:
      laytyp:
        type: "string"
        enum: ['confined', 'convertible']
        example: "convertible"
      layavg:
        type: "string"
        enum: ['harmonic', 'logarithmic', 'arithmetic']
        example: "harmonic"
      laywet:
        type: "string"
        enum: ['active', 'inactive']
        example: "inactive"
      top:
        type: "array"
        example: "1"
      botm:
        type: "array"

  SoilmodelBoreLogListItem:
    type: "object"
    properties:
      id:
        type: "string"
        example: "573efe5d-8dfd-4acf-9da5-fe628099913f"


  ScenarioAnalysis:
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      user_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      user_name:
        type: "string"
        example: "John Doe"
      name:
        type: "string"
        example: "Hanoi 2005-2007"
      description:
        type: "string"
        example: "ScenarioAnalysis of Hanoi Area 2005-2007"
      area_geometry:
        type: "object"
        $ref: '#/definitions/Geometry'
      grid_size:
        type: "object"
        $ref: '#/definitions/GridSize'
      bounding_box:
        type: "object"
        $ref: '#/definitions/BoundingBox'
      created_at:
        type: "string"
        example: "2017-05-08T08:03:42+00:00"
      base_model_id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      scenario_ids:
        type: "array"
        items:
          type: "string"
        example:
          - "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
          - "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
          - "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      public:
        type: "boolean"
        example: true
  BoundaryType:
    type: "string"
    enum: ["wel", "rch", "chd", "ghb"]
    default: "wel"
  Geometry:
    type: "object"
    properties:
      type:
        type: "object"
        $ref: '#/definitions/GeometryType'
      coordinates:
        type: "array"
        minItems: 2
        maxItems: 2
        items:
          type: "array"
          items:
            type: "number"
    example:
      type: "polygon"
      coordinates:
        - 12.1
          10.2
        - 12.2
          10.2
        - 12.2
          10.1
        - 12.1
          10.1
        - 12.1
          10.2
  LineStringGeometry:
    type: "object"
    properties:
      type:
        type: "object"
        $ref: '#/definitions/GeometryType'
      coordinates:
        type: "array"
        minItems: 2
        maxItems: 2
        items:
          type: "array"
          items:
            type: "number"
    example:
      type: "linestring"
      coordinates:
        - 12.1
          10.2
        - 12.2
          10.2
        - 12.2
          10.1
        - 12.1
          10.1
  PolygonGeometry:
    type: "object"
    properties:
      type:
        type: "object"
        $ref: '#/definitions/GeometryType'
      coordinates:
        type: "array"
        minItems: 2
        maxItems: 2
        items:
          type: "array"
          items:
            type: "number"
    example:
      type: "polygon"
      coordinates:
        - 12.1
          10.2
        - 12.2
          10.2
        - 12.2
          10.1
        - 12.1
          10.1
        - 12.1
          10.2
  PointGeometry:
    type: "object"
    properties:
      type:
        type: "object"
        $ref: '#/definitions/GeometryType'
      coordinates:
        type: "array"
        minItems: 1
        maxItems: 1
        items:
          type: "array"
          items:
            type: "number"
    example:
      type: "point"
      coordinates:
        - 12.1
          10.2
  BoundingBox:
    type: "object"
    properties:
      x_min:
        type: "number"
      x_max:
        type: "number"
      y_min:
        type: "number"
      y_max:
        type: "number"
    example:
      x_min: "105.75297728806"
      x_max: "105.91074365467"
      y_min: "20.942021243028"
      y_max: "21.100903658646"
  GridSize:
    type: "object"
    properties:
      n_x:
        type: "integer"
      n_y:
        type: "integer"
    example:
      n_x: "100"
      n_y: "120"
  TimeUnit:
    type: "string"
    enum: ["sec", "min", "h", "d", "yr"]
    default: "d"
  LengthUnit:
    type: "string"
    enum: ["cm", "m", "ft"]
    default: "m"
  GeometryType:
    type: "string"
    enum: ["polygon", "linestring", "point"]
    default: "polygon"
  LayerValue:
    type: "number"
    example: 1.1
  LayerValues:
    type: "array"
    items:
      type: "array"
      items:
        type: "number"
    example:
      - [1.1, 2.2, 3.3, 4.4, 5.5]
      - [1.1, 2.2, 3.3, 4.4, 5.5]
      - [1.1, 2.2, 3.3, 4.4, 5.5]
      - [1.1, 2.2, 3.3, 4.4, 5.5]
