swagger: '2.0'
info:
  description: "This is the Inowas-Server Api Documentation."
  version: "2.0.0"
  title: "Inowas DSS Backend"
  contact:
    email: "ralf.junghanns@gtu-dresden.de"
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
host: "api.inowas.hydro.tu-dresden.de"
#host: "modflow.railsdev.de"
#host: "localhost:8080"
basePath: "/v2"
tags:
  - name: "user"
    description: "Everything about the users"
  - name: "calculation"
    description: "Everything to calculate a ModflowModel"
  - name: "modflowmodel"
    description: "Everything to build a ModflowModel (T03)"
  - name: "tool"
    description: "Project-specific"
  - name: "soilmodel"
    description: "Everything to build a Soilmodel (T03)"
  - name: "scenarioanalysis"
    description: "The ScenarioAnalyses Tool (T07)"
schemes:
  - "http"
  - "https"
paths:
  /users/credentials:
    post:
      tags:
        - "user"
      summary: "Get the API-Key of the user from credentials"
      description: ''
      operationId: "getApiKey"
      consumes:
        - "application/x-www-form-urlencoded"
      produces:
        - "application/json"
      parameters:
        - name: "username"
          in: "formData"
          description: "The users Username"
          required: true
          type: "string"
        - name: "password"
          in: "formData"
          description: "The users Password"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            properties:
              api_key:
                type: "string"
                example: "0246afce-5078-4e24-b5d1-5c3bfdd2ce9"
        400:
          description: "Invalid username/password supplied"

  /users/profile:
    get:
      tags:
        - "user"
      summary: "Returns profile-data of the user"
      description: ''
      operationId: "getUserProfile"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/UserProfile'
      security:
        - api_key: []
    put:
      tags:
        - "user"
      summary: "Updates profile-data of the user"
      description: ''
      operationId: "updateUserProfile"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Details of the user-data"
          required: true
          schema:
             $ref: '#/definitions/UserProfile'
      responses:
        '302':
          description: "Redirect response to /users/profile"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /tools:
    get:
      tags:
        - "tool"
      summary: "Returns the list of all tools from the user"
      description: ''
      operationId: "myTools"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ToolListItem'
      security:
        - api_key: []
        
  /tools/{type}:
    get:
      tags:
        - "tool"
      summary: "Returns the list of all tools by type from the user"
      description: ''
      operationId: "myToolsByType"
      produces:
        - "application/json"
      parameters:
        - name: "type"
          in: "path"
          description: "Tool Type to show"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ToolListItem'
      security:
        - api_key: []

  /tools/{type}/public:
    get:
      tags:
        - "tool"
      summary: "Returns the list of all public tools by type"
      description: ''
      operationId: "publicToolsByType"
      produces:
        - "application/json"
      parameters:
        - name: "type"
          in: "path"
          description: "Tool Type to show"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ToolListItem'
      security:
        - api_key: []

  /tools/{id}/clone:
    post:
      tags:
        - "tool"
      summary: "Makes a copy of a tool with the specified id and the credentials of the current user."
      description: "Makes a copy of a tool with the specified id and the credentials of the current user."
      operationId: "cloneProjectWithNewUserCredentialsByProjectId"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the tool ro clone"
          required: true
          type: "string"
      responses:
        '302':
          description: "Redirect response to /tools"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  # Modflow Calculation
  /calculations:
    post:
      tags:
        - "calculation"
      summary: "Creates a new Calculation"
      description: "Creates a new Calculation"
      operationId: "createCalculation"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Details to create the calculation"
          required: true
          schema:
            type: "object"
            properties:
              model_id:
                type: "string"
                example: "e5bd7155-e207-4d17-8ac0-b52d651ea4b3"
              start_date_time:
                type: "string"
                example: "2005-08-15T00:00:00+00:00"
              end_date_time:
                type: "string"
                example: "2007-08-15T00:00:00+00:00"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /calculations/{id}:
    get:
      tags:
        - "calculation"
      summary: "Get calculation details by id"
      description: "Returns the calculation details of a calculation by id"
      operationId: "getCalculationById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of Calculation to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/CalculationDetails'
        '400':
          description: "Invalid ID supplied"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []

  /calculations/{id}/calculate:
    post:
      tags:
        - "calculation"
      summary: "Send calculate command"
      description: "Send calculate command"
      operationId: "postCalculateCalculationById"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of Calculation to return"
          required: true
          type: "string"
      responses:
        '302':
          description: "Redirect response to GET /calculations/{id}"
          headers:
            Location:
              type: "string"
      security:
        - api_key: []

  /calculations/{id}/stressperiods:
    get:
      tags:
        - "calculation"
      summary: "Get stressperiods by calculationId"
      description: "Returns the stressperiods of a calculation by id"
      operationId: "getCalculationStressperiodsById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of Calculation to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/CalculationStressPeriods'
        '400':
          description: "Invalid ID supplied"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []

    put:
      tags:
        - "calculation"
      summary: "Update stressperiods of a calculation by id"
      description: "Update stressperiods of a calculation by id"
      operationId: "updateCalculationStressperiodsById"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of Calculation"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "StressperiodsList"
          required: true
          schema:
            $ref: '#/definitions/CalculationStressPeriods'

      responses:
        '302':
          description: "Redirect response to GET /calculations/{id}/stressperiods"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /calculations/{id}/results/times:
    get:
      tags:
        - "calculation"
      summary: "Get calculation times by calculation id"
      description: "Returns the startDate, endDate and a list of total times by calculationId"
      operationId: "getCalculationTimesById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of Calculation to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/CalculationTimes'
        '400':
          description: "Invalid ID supplied"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []

  /calculations/{id}/results/layervalues:
    get:
      tags:
        - "calculation"
      summary: "Get information about what results are available in which layer by calculationId"
      description: "Return list of what results are available in which layer by calculationId"
      operationId: "getCalculationLayerValuesById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of Calculation to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/CalculationLayerValues'
        '400':
          description: "Invalid ID supplied"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []

  /calculations/{id}/results/types/{type}/layers/{layer}/totims/{totim}:
    get:
      tags:
        - "calculation"
      summary: "Get calculation result by calculationId, type and layerNumber"
      description: "Returns calculation result by calculationId, type and layerNumber"
      operationId: "getCalculationResultByIdTypeLayerTotim"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of calculation"
          required: true
          type: "string"
        - name: "type"
          in: "path"
          description: "Type of result"
          required: true
          type: "string"
        - name: "layer"
          in: "path"
          description: "Layernumber"
          required: true
          type: "string"
        - name: "totim"
          in: "path"
          description: "Total time"
          required: true
          type: "integer"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/CalculationHeadResult'
        '400':
          description: "Invalid ID supplied"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []

  /calculations/{id}/results/differences/{id2}/types/{type}/layers/{layer}/totims/{totim}:
    get:
     tags:
       - "calculation"
     summary: "Get calculation result difference by two calculationIds, type and layerNumber"
     description: "Returns the calculation result difference by two calculationIds, type and layerNumber"
     operationId: "getCalculationDifferenceByIdTypeLayerTotim"
     produces:
       - "application/json"
     parameters:
       - name: "id"
         in: "path"
         description: "Id of calculation"
         required: true
         type: "string"
       - name: "id2"
         in: "path"
         description: "Id of calculation which will be calculated as difference"
         required: true
         type: "string"
       - name: "type"
         in: "path"
         description: "Type of result"
         required: true
         type: "string"
       - name: "layer"
         in: "path"
         description: "Layernumber"
         required: true
         type: "string"
       - name: "totim"
         in: "path"
         description: "Total time"
         required: true
         type: "integer"
     responses:
       '200':
         description: "successful operation"
         schema:
           $ref: '#/definitions/CalculationHeadResult'
       '400':
         description: "Invalid ID supplied"
       '404':
         description: "ModflowModel not found"
     security:
     - api_key: []

  /calculations/{id}/results/timeseries/types/{type}/layers/{layer}/x/{x}/y/{y}:
    get:
      tags:
        - "calculation"
      summary: "Get calculation result timeseries."
      description: "Returns the calculation result timeseries by calculationId, type, layerNumber and cell-x, cell-y"
      operationId: "getCalculationTimeSeriesByIdTypeLayerXY"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of calculation"
          required: true
          type: "string"
        - name: "type"
          in: "path"
          description: "Type of result"
          required: true
          type: "string"
        - name: "layer"
          in: "path"
          description: "Layernumber"
          required: true
          type: "string"
        - name: "x"
          in: "path"
          description: "Grid Cell X-Value"
          required: true
          type: "integer"
        - name: "y"
          in: "path"
          description: "Grid Cell Y-Value"
          required: true
          type: "integer"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/CalculationTimeSeriesResult'
        '400':
          description: "Invalid ID supplied"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []

  # ModflowModel
  /modflowmodels:
    get:
      tags:
        - "modflowmodel"
      summary: "Returns the list of ModflowModel Projects from the User"
      description: ''
      operationId: "modflowModelMyProjects"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ModflowModelListItem'
      security:
        - api_key: []
    post:
      tags:
        - "modflowmodel"
      summary: "Creates a new modflowmodel"
      description: ''
      operationId: "addModflowModel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "ModflowModelObject that needs to be added"
          required: true
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "Hanoi 2005-2007"
              description:
                type: "string"
                example: "ModflowModel of Hanoi Area 2005-2007"
              area_geometry:
                $ref: '#/definitions/PolygonGeometry'
              grid_size:
                $ref: '#/definitions/GridSize'
              time_unit:
                $ref: '#/definitions/TimeUnit'
              length_unit:
                $ref: '#/definitions/LengthUnit'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/public:
    get:
      tags:
        - "modflowmodel"
      summary: "Returns the list of all public ModflowModel Projects"
      description: ''
      operationId: "modflowModelPublicProjects"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ModflowModelListItem'
      security:
        - api_key: []

  /modflowmodels/{id}:
    get:
      tags:
        - "modflowmodel"
      summary: "Find ModflowModel by ID"
      description: "Returns a single ModflowModel with ModelDetails"
      operationId: "getModflowModelById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ModflowModelDetails'
        '400':
          description: "Invalid ID supplied"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []

  /modflowmodels/{id}/name:
    get:
      tags:
        - "modflowmodel"
      summary: "Find ModflowModelName by id"
      description: "Returns the name of the ModflowModel by id"
      operationId: "getModflowModelNameById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "The name of the model"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Updates the name of an existing ModflowModel"
      description: "Updates the name of an existing ModflowModel"
      operationId: "updateModflowModelName"
      consumes:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "ModflowModelName"
          required: true
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "The name of the model"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/description:
    get:
      tags:
        - "modflowmodel"
      summary: "Find ModflowModelDescription by id"
      description: "Returns the description of the ModflowModel by id"
      operationId: "getModflowModelDescriptionById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              description:
                type: "string"
                example: "The description of the model"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Updates the description of an existing ModflowModel"
      description: "Updates the name of an existing ModflowModel"
      operationId: "updateModflowModelDescription"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel to update"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "ModflowModelDescription"
          required: true
          schema:
            type: "object"
            properties:
              description:
                type: "string"
                example: "The description of the model"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/geometry:
    get:
      tags:
        - "modflowmodel"
      summary: "Find the area geometry by modflowmodel id"
      description: "Returns the area geometry of the ModflowModel by id"
      operationId: "getModflowModelGeometry"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              area_geometry:
                $ref: "#/definitions/PolygonGeometry"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Updates the area geometry of a modflowmodel by modflowmodel id"
      description: "Updates the area geometry of a modflowmodel by modflowmodel id"
      operationId: "updateModflowModelGeometry"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel to update"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "AreaGeometry"
          required: true
          schema:
            type: "object"
            properties:
              area_geometry:
                $ref: "#/definitions/PolygonGeometry"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundingbox:
    get:
      tags:
        - "modflowmodel"
      summary: "Get the boundingBox of a modflowModel"
      description: "Get the boundingBox of a modflowModel by id"
      operationId: "getModflowModelBoundingBox"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              bounding_box:
                $ref: "#/definitions/BoundingBox"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Updates the boundingBox of a modflowModel"
      description: "Updates the boundingBox of a modflowModel"
      operationId: "updateModflowModelBoundingBox"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel to update"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "BoundingBox"
          required: true
          schema:
            type: "object"
            properties:
              bounding_box:
                $ref: "#/definitions/BoundingBox"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/gridsize:
    get:
      tags:
        - "modflowmodel"
      summary: "Get the gridSize of a modflowModel"
      description: "Get the gridSize of a modflowModel by id"
      operationId: "getModflowModelGridSize"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              grid_size:
                $ref: "#/definitions/GridSize"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Updates the gridSize of a modflowModel"
      description: "Updates the gridSize of a modflowModel"
      operationId: "updateModflowModelGridSize"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel to update"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Gridsize"
          required: true
          schema:
            type: "object"
            properties:
              grid_size:
                $ref: "#/definitions/GridSize"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/activecells:
    get:
      tags:
        - "modflowmodel"
      summary: "Get activeCells by modelId"
      description: "Returns the activeCells"
      operationId: "getModflowModelActiveCells"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              layer_active_cells:
                $ref: '#/definitions/ActiveCellsWithLayerValues'
        '404':
          description: "Boundary not found"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update activeCells with modflowModelId"
      description: "Updates the activeCells the model area."
      operationId: "updateModflowModelActiveCells"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary activeCells"
          required: true
          schema:
            type: "object"
            properties:
              layer_active_cells:
                $ref: '#/definitions/ActiveCellsWithLayerValues'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/soilmodel:
    get:
      tags:
        - "modflowmodel"
      summary: "Get the soilmodel id of a modflowModel"
      description: "Get the soilmodel id of a modflowModel"
      operationId: "getModflowModelSoilmodelId"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              soilmodel_id:
                type: "string"
                example: "03f5a3e6-04c0-4fda-bfd4-b48d571cd233"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Updates the gridSize of a modflowModel"
      description: "Updates the gridSize of a modflowModel"
      operationId: "updateModflowModelSoilmodelId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel to update"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "SoilmodelId"
          required: true
          schema:
            type: "object"
            properties:
              soilmodel_id:
                type: "string"
                example: "03f5a3e6-04c0-4fda-bfd4-b48d571cd233"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/lengthunit:
      get:
        tags:
          - "modflowmodel"
        summary: "Get the lengthUnit of a modflowModel"
        description: "Get the lengthUnit of a modflowModel"
        operationId: "getModflowModelLengthUnit"
        produces:
          - "application/json"
        parameters:
          - name: "id"
            in: "path"
            description: "Id of ModflowModel"
            required: true
            type: "string"
        responses:
          '200':
            description: "successful operation"
            schema:
              type: "object"
              properties:
                length_unit:
                  $ref: '#/definitions/LengthUnit'

          '404':
            description: "ModflowModel not found"
        security:
        - api_key: []
      put:
        tags:
          - "modflowmodel"
        summary: "Updates the lengthUnit of a modflowModel"
        description: "Updates the lengthUnit of a modflowModel"
        operationId: "updateModflowModelLengthUnit"
        consumes:
          - "application/json"
        produces:
          - "application/json"
        parameters:
          - name: "id"
            in: "path"
            description: "Id of ModflowModel to update"
            required: true
            type: "string"
          - in: "body"
            name: "body"
            description: "SoilmodelId"
            required: true
            schema:
              type: "object"
              properties:
                length_unit:
                  $ref: '#/definitions/LengthUnit'
        responses:
          '302':
            description: "Redirect response"
            headers:
              Location:
                type: "string"
          '422':
            description: "Invalid input"
        security:
          - api_key: []

  /modflowmodels/{id}/timeunit:
    get:
      tags:
        - "modflowmodel"
      summary: "Get the timeUnit of a modflowModel"
      description: "Get the timeUnit id of a modflowModel"
      operationId: "getModflowModelTimeUnit"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              time_unit:
                $ref: '#/definitions/TimeUnit'
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Updates the timeUnit of a modflowModel"
      description: "Updates the timeUnit of a modflowModel"
      operationId: "updateModflowModelTimeUnit"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ModflowModel to update"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "SoilmodelId"
          required: true
          schema:
            type: "object"
            properties:
              time_unit:
                $ref: '#/definitions/TimeUnit'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries:
    get:
      tags:
        - "modflowmodel"
      summary: "Get boundary-list from model by ID"
      description: "Returns a list of all boundaries with ids, types, names, geometry"
      operationId: "getModflowModelBoundaryList"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: '#/definitions/ModflowModelBoundaryListItem'
      security:
        - api_key: []
    post:
      tags:
        - "modflowmodel"
      summary: "Add a boundary with metadata to modflowmodel by id"
      description: "Adds a boundary with name, type, geometry, affected layers to a modflowmodel"
      operationId: "addModflowModelBoundary"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary that needs to be added"
          required: true
          schema:
            $ref: '#/definitions/ModflowModelBoundarySubmitItem'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}:
    get:
      tags:
        - "modflowmodel"
      summary: "Get boundary by modelId and BoundaryId"
      description: "Returns all details of a boundary with id, type, name, geometry, metadata, observationpoints and observationPointValues"
      operationId: "getModflowModelBoundary"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ModflowModelBoundaryDetails'
        '404':
          description: "Boundary not found"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/activecells:
    get:
      tags:
        - "modflowmodel"
      summary: "Get activeCells by modelId and BoundaryId"
      description: "Returns the activeCells"
      operationId: "getModflowModelBoundaryActiveCells"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              active_cells:
                $ref: '#/definitions/ActiveCellsWithCellValues'
        '404':
          description: "Boundary not found"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update activeCells with modflowModelId and boundaryId"
      description: "Updates the activeCells of a boundary."
      operationId: "updateModflowModelBoundaryActiveCells"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary activeCells"
          required: true
          schema:
            type: "object"
            properties:
              active_cells:
                $ref: '#/definitions/ActiveCellsWithCellValues'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/affectedlayers:
    get:
      tags:
        - "modflowmodel"
      summary: "Get affectedLayers by modelId and BoundaryId"
      description: "Returns the affectedLayers"
      operationId: "getModflowModelAffectedLayers"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              affected_layers:
                $ref: '#/definitions/AffectedLayers'
        '404':
          description: "Boundary not found"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update affectedLayers with modflowModelId and boundaryId"
      description: "Updates the affectedLayers of a boundary."
      operationId: "updateModflowModelBoundaryAffectedLayers"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary affectedLayers"
          required: true
          schema:
            type: "object"
            properties:
              affected_layers:
                $ref: '#/definitions/AffectedLayers'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/geometry:
    get:
      tags:
        - "modflowmodel"
      summary: "Get boundaryGeometry by modelId and BoundaryId"
      description: "Returns the boundaryGeometry"
      operationId: "getModflowModelBoundaryGeometry"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              geometry:
                $ref: '#/definitions/Geometry'
        '404':
          description: "Boundary not found"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update boundaryGeometry with modflowModelId and boundaryId"
      description: "Update boundaryGeometry with modflowModelId and boundaryId."
      operationId: "updateModflowModelBoundaryGeometry"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary geometry"
          required: true
          schema:
            type: "object"
            properties:
              geometry:
                $ref: '#/definitions/Geometry'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/name:
    get:
      tags:
        - "modflowmodel"
      summary: "Get boundaryName by modelId and BoundaryId"
      description: "Returns the boundaryName"
      operationId: "getModflowModelBoundaryName"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              name:
                $ref: '#/definitions/BoundaryName'

        '404':
          description: "Boundary not found"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update boundaryGeometry with modflowModelId and boundaryId"
      description: "Updates the name of a boundary."
      operationId: "updateModflowModelBoundaryName"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary geometry"
          required: true
          schema:
            type: "object"
            properties:
              name:
                $ref: '#/definitions/BoundaryName'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/observationpoints:
    post:
      tags:
        - "modflowmodel"
      summary: "Creates a new observationPoint"
      description: "Creates a new observationPoint."
      operationId: "addObservationPointToBoundary"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "ObservationPointName and Geometry"
          required: true
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "NewObservationPoint"
              geometry:
                $ref: '#/definitions/PointGeometry'

      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/observationpoints/{oid}:
    get:
      tags:
        - "modflowmodel"
      summary: "Get observationpoint details with modelId, BoundaryId and observationPointId."
      description: "Returns observationpoints and observationPointValues"
      operationId: "getModflowModelBoundaryObservationPoint"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ModflowModelBoundaryObservationPoint'
        '404':
          description: "ObservationPoint not found"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/observationpoints/{oid}/name:
    get:
      tags:
        - "modflowmodel"
      summary: "Get observationPointName."
      description: "Returns observationPointName"
      operationId: "getModflowModelBoundaryObservationPointName"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ObservationPointName'
        '404':
          description: "Not found"
        '422':
          description: "Invalid input"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update observationpointName."
      description: "Updates the observationpointName"
      operationId: "putModflowModelBoundaryObservationPointName"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary that needs to be added"
          required: true
          schema:
            $ref: '#/definitions/ObservationPointName'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/observationpoints/{oid}/geometry:
    get:
      tags:
        - "modflowmodel"
      summary: "Get observationPointName."
      description: "Returns observationPointName"
      operationId: "getModflowModelBoundaryObservationPointGeometry"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/PointGeometry'
        '404':
          description: "Not found"
        '422':
          description: "Invalid input"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update observationpointName."
      description: "Updates the observationpointName"
      operationId: "putModflowModelBoundaryObservationPointGeometry"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary that needs to be added"
          required: true
          schema:
            $ref: '#/definitions/PointGeometry'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/observationpoints/{oid}/values:
    get:
      tags:
        - "modflowmodel"
      summary: "Get observationPointName."
      description: "Returns observationPointName"
      operationId: "getModflowModelBoundaryObservationPointValues"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ObservationPointValuesWithDescription'
        '404':
          description: "Not found"
        '422':
          description: "Invalid input"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update observationpointName."
      description: "Updates the observationpointName"
      operationId: "putModflowModelBoundaryObservationPointValues"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary that needs to be added"
          required: true
          schema:
            $ref: '#/definitions/ObservationPointValues'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  # Soilmodel
  /soilmodels:
    post:
      tags:
        - "soilmodel"
      summary: "Creates a new soilmodel"
      description: ''
      operationId: "createSoilmodel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "SoilmodelDetails to create Soilmodel"
          required: true
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "Soilmodel Hanoi Area"
              description:
                type: "string"
                example: "Description Soilmodel Hanoi Area"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}:
    get:
      tags:
        - "soilmodel"
      summary: "Returns the soilmodelDetails by SoilmodelId"
      description: ''
      operationId: "getSoilmodelById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of soilmodel to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/Soilmodel'
      security:
        - api_key: []

  /soilmodels/{id}/name:
    get:
      tags:
        - "soilmodel"
      summary: "Returns name of the soilmodel by id"
      description: ""
      operationId: "getSoilmodelName"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/SoilmodelName'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates name of a soilmodel"
      description: ""
      operationId: "updateSoilmodelName"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            $ref: '#/definitions/SoilmodelName'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/description:
    get:
      tags:
        - "soilmodel"
      summary: "Returns description of the soilmodel by id"
      description: ""
      operationId: "getSoilmodelDescription"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/SoilmodelDescription'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates description of a soilmodel"
      description: ""
      operationId: "updateSoilmodelDescription"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Value that will be updated"
          required: true
          schema:
            $ref: '#/definitions/SoilmodelDescription'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  # Soilmodel Layers
  /soilmodels/{id}/layers:
    post:
      tags:
        - "soilmodel"
      summary: "Adds a new layer"
      description: ''
      operationId: "addSoilmodelLayer"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of Soilmodel"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "LayerDetails to create the new Layer"
          required: true
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "Layer name"
              description:
                type: "string"
                example: "Layer Description"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}:
    get:
      tags:
        - "soilmodel"
      summary: "Returns details of an existing layer"
      description: ""
      operationId: "getSoilmodelLayerDetails"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/SoilmodelLayerDetails'
        '404':
          description: "Not found"
      security:
        - api_key: []
    delete:
      tags:
        - "soilmodel"
      summary: "Delete existing layer"
      description: ""
      operationId: "deleteSoilmodelLayer"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '201':
          description: "successful operation"
          headers:
            Location:
              type: "string"
        '404':
          description: "source not found"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/name:
    get:
      tags:
        - "soilmodel"
      summary: "Returns name of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerName"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/SoilmodelLayerName'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates name of an existing layer"
      description: ""
      operationId: "updateSoilmodelLayerName"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            $ref: '#/definitions/SoilmodelLayerName'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/description:
    get:
      tags:
        - "soilmodel"
      summary: "Returns description of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerDescription"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/SoilmodelLayerDescription'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates description of an existing layer"
      description: ""
      operationId: "updateSoilmodelLayerDescription"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            $ref: '#/definitions/SoilmodelLayerDescription'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/number:
    get:
      tags:
        - "soilmodel"
      summary: "Returns layerNumber of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerLayerNumber"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              layer_number:
                $ref: '#/definitions/LayerNumber'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates layerNumber of an existing layer"
      description: ""
      operationId: "updateSoilmodelLayerNumber"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            type: "object"
            properties:
              layer_number:
                $ref: '#/definitions/LayerNumber'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/laytyp:
    get:
      tags:
        - "soilmodel"
      summary: "Returns laytyp of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerLaytyp"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/Laytyp'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates laytyp of an existing layer"
      description: ""
      operationId: "updateSoilmodelLayerLaytyp"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            $ref: '#/definitions/Laytyp'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/active:
    get:
      tags:
        - "soilmodel"
      summary: "Returns is_active-value of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerActive"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              active:
                $ref: '#/definitions/LayerIsActive'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates is_active-value of an existing layer by id"
      description: ""
      operationId: "updateSoilmodelLayerActive"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            type: "object"
            properties:
              active:
                $ref: '#/definitions/LayerIsActive'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/layavg:
    get:
      tags:
        - "soilmodel"
      summary: "Returns layavg of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerLayavg"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/Layavg'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates layavg of an existing layer"
      description: ""
      operationId: "updateSoilmodelLayerLayavg"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            $ref: '#/definitions/Layavg'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/laywet:
    get:
      tags:
        - "soilmodel"
      summary: "Returns laywet of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerLaywet"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/Laywet'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates laywet of an existing layer"
      description: ""
      operationId: "updateSoilmodelLayerLaywet"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            $ref: '#/definitions/Laywet'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/top:
    get:
      tags:
        - "soilmodel"
      summary: "Returns top-values of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerTop"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              top:
                $ref: '#/definitions/LayerValue'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates top-values of an existing layer"
      description: ""
      operationId: "updateSoilmodelLayerTop"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            type: "object"
            properties:
              top:
                $ref: '#/definitions/LayerValue'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/botm:
    get:
      tags:
        - "soilmodel"
      summary: "Returns botm-values of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerBotm"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              botm:
                $ref: '#/definitions/LayerValue'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates botm-values of an existing layer"
      description: ""
      operationId: "updateSoilmodelLayerBotm"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            type: "object"
            properties:
              botm:
                $ref: '#/definitions/LayerValue'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/hk:
    get:
      tags:
        - "soilmodel"
      summary: "Returns hydraulic conductivity (kx) of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerHk"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              hk:
                $ref: '#/definitions/LayerValue'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates hydraulic conductivity (kx) of an existing layer by id"
      description: ""
      operationId: "updateSoilmodelLayerHk"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            type: "object"
            properties:
              hk:
                $ref: '#/definitions/LayerValue'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/hani:
    get:
      tags:
        - "soilmodel"
      summary: "Returns horizontal anisotropy (hani) of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerHani"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              hani:
                $ref: '#/definitions/LayerValue'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates horizontal anisotropy (hani) of an existing layer by id"
      description: ""
      operationId: "updateSoilmodelLayerHani"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            type: "object"
            properties:
              hani:
                $ref: '#/definitions/LayerValue'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/vka:
    get:
      tags:
        - "soilmodel"
      summary: "Returns vertical anisotropy (vka) of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerVka"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              vka:
                $ref: '#/definitions/LayerValue'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates vertical anisotropy (vka) of an existing layer by id"
      description: ""
      operationId: "updateSoilmodelLayerVka"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            type: "object"
            properties:
              vka:
                $ref: '#/definitions/LayerValue'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/ss:
    get:
      tags:
        - "soilmodel"
      summary: "Returns specific-storage-values (ss) of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerSs"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              ss:
                $ref: '#/definitions/LayerValue'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates specific-storage-values (ss) of an existing layer by id"
      description: ""
      operationId: "updateSoilmodelLayerSs"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            type: "object"
            properties:
              ss:
                $ref: '#/definitions/LayerValue'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/sy:
    get:
      tags:
        - "soilmodel"
      summary: "Returns specific-yield-values (sy) of an existing layer by id"
      description: ""
      operationId: "getSoilmodelLayerSy"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "object"
            properties:
              sy:
                $ref: '#/definitions/LayerValue'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates specific-yield-values (sy) of an existing layer by id"
      description: ""
      operationId: "updateSoilmodelLayerSy"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            type: "object"
            properties:
              sy:
                $ref: '#/definitions/LayerValue'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /scenarioanalyses:
    get:
      tags:
        - "scenarioanalysis"
      summary: "Returns the list of ScenarioAnalyses Projects from the User"
      description: ''
      operationId: "scenarioAnalysesMyProjects"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ScenarioAnalysisListItem'
      security:
        - api_key: []
    post:
      tags:
        - "scenarioanalysis"
      summary: "Creates a scenarioanalysis from ModflowModelId"
      description: "Creates a scenarioanalysis from ModflowModelId"
      operationId: "createScenarioAnalysisFromModflowModel"
      produces:
        - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: "ModflowModelId"
          required: true
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                example: "d9e7b1fa-7372-4822-972d-4657c73fc2b2"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"

  /scenarioanalyses/public:
    get:
      tags:
        - "scenarioanalysis"
      summary: "Returns the list of ScenarioAnalyses Projects from the User"
      description: ''
      operationId: "scenarioAnalysesPublicProjects"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ScenarioAnalysisListItem'
      security:
        - api_key: []

  /scenarioanalyses/{id}:
    get:
      tags:
        - "scenarioanalysis"
      summary: "Returns the scenarioAnalysis details by id"
      description: 'Returns the scenarioAnalysis details by id'
      operationId: "getScenarioAnalysisById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ScenarioAnalysis to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ScenarioAnalysisDetails'
      security:
        - api_key: []

  /scenarioanalyses/{id}/clone:
    post:
      tags:
        - "scenarioanalysis"
      summary: "Makes a copy of the scenarioAnalysis with the specified id"
      description: 'Makes a copy of the scenarioAnalysis by id with the new user credentials'
      operationId: "copyScenarioAnalysisById"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ScenarioAnalysis to return"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Details of the user-data"
          required: true
          schema:
            type: "object"
            properties:
              from_id:
                type: "string"
                example: "44d1a46e-547c-4b55-91e3-e43494e14221"
      responses:
        '302':
          description: "Redirect response to /scenarioanalyses/{id}"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /scenarioanalyses/{id}/scenario/{sid}:
    delete:
      tags:
        - "scenarioanalysis"
      summary: "Deletes a scenario by scenarioanalysisId, ModelId"
      description: 'Deletes a scenario by scenarioanalysisId, ModelId'
      operationId: "deleteScenarioByIdAndScenarioAnalysisId"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ScenarioAnalysis to return"
          required: true
          type: "string"
        - name: "sid"
          in: "path"
          description: "Id scenario"
          required: true
          type: "string"
      responses:
        '302':
          description: "Redirect response to /scenarioanalyses/{sid}"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /scenarioanalyses/{id}/scenario:
    post:
      tags:
        - "scenarioanalysis"
      summary: "Makes a copy of the scenarioAnalysis with the specified id"
      description: 'Makes a copy of the scenarioAnalysis by id with the new user credentials'
      operationId: "createScenarioById"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id of ScenarioAnalysis"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Id of the base_model or scenario to clone"
          required: true
          schema:
            type: "object"
            properties:
              from_id:
                type: "string"
                example: "44d1a46e-547c-4b55-91e3-e43494e14221"
      responses:
        '302':
          description: "Redirect response to /scenarioanalyses/{id}"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

# SECURITY
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "X-AUTH-TOKEN"
    in: "header"

# MODELS
definitions:
  UserProfile:
    type: "object"
    properties:
      user_name:
        type: "string"
        example: "my.user.name"
      name:
        type: "string"
        example: "John Doe"
      email:
        type: "string"
        example: "john.doe@inowas.com"
  CalculationDetails:
    type: "object"
    properties:
      id:
        type: "string"
        example: "b6b35e17-0bea-4a7b-86cd-bb3c70704a4c"
      model_id:
        type: "string"
        example: "1a5de69d-01a5-4ba4-9746-fbc60b201de2"
      soilmodel_id:
        type: "string"
        example: "5925bf17-3df7-4685-b4bd-47b3a57f5101"
      user_id:
        type: "string"
        example: "34fe45c3-75fd-491e-a7c8-68646ca0a5e2"
      state:
        $ref: '#/definitions/CalculationState'
      start_date_time:
        type: "string"
        example: "2005-08-15T00:00:00+00:00"
      end_date_time:
        type: "string"
        example: "2015-08-15T00:00:00+00:00"
  CalculationTimes:
    type: "object"
    properties:
      start_date_time:
        type: "string"
        example: "2005-08-15T00:00:00+00:00"
      time_unit:
        $ref: '#/definitions/TimeUnit'
      total_times:
        type: "array"
        items:
          type: "integer"
        example: [10, 15, 20, 25, 30]
  CalculationLayerValues:
    title: "CalculationLayerValues"
    description: "LayerNumber"
    type: "array"
    items:
      description: "ResultTypes"
      type: "array"
      items:
        type: "string"
    example:
      - ["head", "drawdown"]
      - []
      - ["head", "drawdown"]
  CalculationHeadResult:
    title: "CalculationHeadResult"
    description: "2D-Array, Row"
    type: "array"
    items:
      type: "array"
      items:
        type: "number"
    example:
      - [1, 2, 3, 4, 5, 6, 7, 8, 9]
      - [1, 2, 3, 4, 5, 6, 7, 8, 9]
      - [1, 2, 3, 4, 5, 6, 7, 8, 9]
      - [1, 2, 3, 4, 5, 6, 7, 8, 9]
      - [1, 2, 3, 4, 5, 6, 7, 8, 9]
  CalculationTimeSeriesResult:
    title: "CalculationTimeSeriesResult"
    type: "object"
    properties:
      start_date_time:
        type: "string"
        example: "2005-08-15T00:00:00+00:00"
      end_date_time:
        type: "string"
        example: "2015-08-15T00:00:00+00:00"
      total_times:
        type: "array"
        items:
          type: "integer"
        example: [10, 15, 20, 25, 30]
      values:
        type: "array"
        items:
          type: "number"
        example: [10.5, 15.5, 20.5, 25.5, 30.5]
  CalculationState:
    title: "CalculationState"
    description: "0: new/created, 1: queued, 2: started, 3: finished"
    type: "integer"
    enum: [0, 1, 2, 3]
    default: 0
  CalculationStressPeriods:
    title: "CalculationStressPeriods"
    type: "object"
    properties:
      start_date_time:
        type: "string"
        example: "2005-08-15T00:00:00+00:00"
      end_date_time:
        type: "string"
        example: "2015-08-15T00:00:00+00:00"
      time_unit:
        $ref: '#/definitions/TimeUnit'
      stress_periods:
        type: "array"
        items:
          $ref: '#/definitions/CalculationStressPeriod'
        example:
          - { "totim_start": 0, "perlen": 1, "nstp": 4, "tsmult": 1, "steady": true }
          - { "totim_start": 1, "perlen": 11, "nstp": 2, "tsmult": 1, "steady": false }
          - { "totim_start": 24, "perlen": 12, "nstp": 1, "tsmult": 1, "steady":false }
  CalculationStressPeriod:
    title: "CalculationStressPeriod"
    type: "object"
    properties:
      totim_start:
        description: "Start total time"
        type: "integer"
        example: 0
      perlen:
        description: "Period length of stressperiod"
        type: "integer"
        example: 12
      nstp:
        description: "Number of timesteps"
        type: "integer"
        example: 4
      tsmult:
        description: "Timestep multiplier"
        type: "number"
        example: 1.0
      steady:
        description: "Stressperiod is steady state or not"
        type: "boolean"
        example: true
  ModflowModelDetails:
    title: "ModflowModelDetails"
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      user_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      soilmodel_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      user_name:
        type: "string"
        example: "John Doe"
      name:
        type: "string"
        example: "Hanoi 2005-2007"
      description:
        type: "string"
        example: "ModflowModel of Hanoi Area 2005-2007"
      geometry:
        $ref: '#/definitions/PolygonGeometry'
      length_unit:
        $ref: '#/definitions/LengthUnit'
      time_unit:
        $ref: '#/definitions/TimeUnit'
      grid_size:
        $ref: '#/definitions/GridSize'
      bounding_box:
        $ref: '#/definitions/BoundingBox'
      created_at:
        type: "string"
        example: "2017-05-17T09:32:41+00:00"
      public:
        type: "boolean"
        example: true
  ModflowModelListItem:
    title: "ModflowModelListItem"
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      user_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      soilmodel_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      user_name:
        type: "string"
        example: "John Doe"
      name:
        type: "string"
        example: "Hanoi 2005-2007"
      description:
        type: "string"
        example: "ModflowModel of Hanoi Area 2005-2007"
      geometry:
        $ref: '#/definitions/PolygonGeometry'
      grid_size:
        $ref: '#/definitions/GridSize'
      bounding_box:
        $ref: '#/definitions/BoundingBox'
  ModflowModelBoundaryListItem:
    title: "ModflowModelBoundaryListItem"
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      name:
        type: "string"
        example: "Well 123"
      type:
        $ref: '#/definitions/BoundaryType'
      geometry:
        $ref: '#/definitions/Geometry'
      affected_layers:
        $ref: '#/definitions/AffectedLayers'
      metadata:
        $ref: '#/definitions/MetaData'
  ModflowModelBoundarySubmitItem:
    title: "ModflowModelBoundarySubmitItem"
    type: "object"
    properties:
      name:
        type: "string"
        example: "Well 123"
      type:
        $ref: '#/definitions/BoundaryType'
      geometry:
        $ref: '#/definitions/Geometry'
      affected_layers:
        $ref: '#/definitions/AffectedLayers'
      metadata:
        $ref: '#/definitions/MetaData'
  ModflowModelBoundaryDetails:
    title: "ModflowModelBoundaryDetails"
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      name:
        type: "string"
        example: "Well 123"
      type:
        $ref: '#/definitions/BoundaryType'
      geometry:
        $ref: '#/definitions/Geometry'
      affected_layers:
        $ref: '#/definitions/AffectedLayers'
      metadata:
        $ref: '#/definitions/MetaData'
      observation_points:
        type: "array"
        items:
          $ref: '#/definitions/ModflowModelBoundaryObservationPoint'
  ModflowModelBoundaryObservationPoint:
    title: "ModflowModelBoundaryObservationPoint"
    type: "object"
    properties:
      id:
        type: "string"
[...]
