swagger: '2.0'
info:
  description: "This is the Inowas-Server Api Documentation."
  version: "1.0.0"
  title: "Inowas DSS Backend"
  contact:
    email: "ralf.junghanns@gtu-dresden.de"
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
host: "api.inowas.hydro.tu-dresden.de"
basePath: "/api"
tags:
  - name: "user"
    description: "Everything about the users"
  - name: "modflowmodel"
    description: "Everything to build a ModflowModel (T03)"
  - name: "soilmodel"
    description: "Everything to build a Soilmodel (T03)"
  - name: "scenarioanalysis"
    description: "The ScenarioAnalyses Tool (T07)"
schemes:
  - "https"
paths:
  /users/credentials:
    post:
      tags:
        - "user"
      summary: "Get the API-Key of the user from credentials"
      description: ''
      operationId: "getApiKey"
      consumes:
        - "application/x-www-form-urlencoded"
      produces:
        - "application/json"
      parameters:
        - name: "username"
          in: "formData"
          description: "The users Username"
          required: true
          type: "string"
        - name: "password"
          in: "formData"
          description: "The users Password"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            properties:
              api_key:
                type: "string"
        400:
          description: "Invalid username/password supplied"

  /modflowmodels:
    get:
      tags:
        - "modflowmodel"
      summary: "Returns the list of ModflowModel Projects from the User"
      description: ''
      operationId: "modflowModelMyProjects"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ModflowModelListItem'
      security:
        - api_key: []
    post:
      tags:
        - "modflowmodel"
      summary: "Creates a new modflowmodel"
      description: ''
      operationId: "addModflowModel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "ModflowModelObject that needs to be added"
          required: true
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "Hanoi 2005-2007"
              description:
                type: "string"
                example: "ModflowModel of Hanoi Area 2005-2007"
              area_geometry:
                $ref: '#/definitions/Geometry'
              grid_size:
                $ref: '#/definitions/GridSize'
              time_unit:
                $ref: '#/definitions/TimeUnit'
              length_unit:
                $ref: '#/definitions/LengthUnit'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}:
    get:
      tags:
        - "modflowmodel"
      summary: "Find ModflowModel by ID"
      description: "Returns a single ModflowModel with ModelDetails"
      operationId: "getModflowModelById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ModflowModelDetails'
        '400':
          description: "Invalid ID supplied"
        '404':
          description: "ModflowModel not found"
      security:
      - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Updates data of existing ModflowModel"
      description: 'Only send the fields which have changed.'
      operationId: "updateModflowModel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel to update"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "ModflowModelObject that needs to be added"
          required: true
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "Hanoi 2005-2007"
              description:
                type: "string"
                example: "ModflowModel of Hanoi Area 2005-2007"
              area_geometry:
                $ref: '#/definitions/Geometry'
              grid_size:
                $ref: '#/definitions/GridSize'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries:
    get:
      tags:
        - "modflowmodel"
      summary: "Get boundary-list from model by ID"
      description: "Returns a list of all boundaries with ids, types, names, geometry"
      operationId: "getModflowModelBoundaryList"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: '#/definitions/ModflowModelBoundaryListItem'
      security:
        - api_key: []
    post:
      tags:
        - "modflowmodel"
      summary: "Add a boundary to modflowmodel by id"
      description: "Adds a boundary with name, type, geometry to a modflowmodel"
      operationId: "addModflowModelBoundary"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary that needs to be added"
          required: true
          schema:
            $ref: '#/definitions/ModflowModelBoundarySubmitItem'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}:
    get:
      tags:
        - "modflowmodel"
      summary: "Get boundary by modelId and BoundaryId"
      description: "Returns all details of a boundary with id, type, name, geometry, metadata, observationpoints and observationPointValues"
      operationId: "getModflowModelBoundary"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ModflowModelBoundaryDetails'
        '404':
          description: "Boundary not found"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/name:
    get:
      tags:
        - "modflowmodel"
      summary: "Get boundaryName by modelId and BoundaryId"
      description: "Returns the boundaryName"
      operationId: "getModflowModelBoundaryName"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/BoundaryName'

        '404':
          description: "Boundary not found"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update boundaryGeometry with modflowModelId and boundaryId"
      description: "Updates a boundary with name, type, geometry, observationpoints and observationpointvalues. All params are optional. All given parameters will be updated."
      operationId: "updateModflowModelBoundaryName"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary geometry"
          required: true
          schema:
            $ref: '#/definitions/BoundaryName'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/geometry:
    get:
      tags:
        - "modflowmodel"
      summary: "Get boundaryGeometry by modelId and BoundaryId"
      description: "Returns the boundaryGeometry"
      operationId: "getModflowModelBoundaryGeometry"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/Geometry'
        '404':
          description: "Boundary not found"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update boundaryGeometry with modflowModelId and boundaryId"
      description: "Updates a boundary with name, type, geometry, observationpoints and observationpointvalues. All params are optional. All given parameters will be updated."
      operationId: "updateModflowModelBoundaryGeometry"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary geometry"
          required: true
          schema:
            $ref: '#/definitions/Geometry'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/observationpoints:
    post:
      tags:
        - "modflowmodel"
      summary: "Creates a new observationPoint"
      description: "Creates a new observationPoint."
      operationId: "addeObservationPointToBoundary"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "ObservationPointName and Geometry"
          required: true
          schema:
            type: "object"
            properties:
              name:
                type: "string"
                example: "NewObservationPoint"
              geometry:
                $ref: '#/definitions/PointGeometry'

      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/observationpoints/{oid}:
    get:
      tags:
        - "modflowmodel"
      summary: "Get observationpoint with observationpointvalues ids."
      description: "Returns observationpoints and observationPointValues"
      operationId: "getModflowModelBoundaryObservationPoint"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ModflowModelBoundaryObservationPoint'
        '404':
          description: "ObservationPoint not found"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/observationpoints/{oid}/name:
    get:
      tags:
        - "modflowmodel"
      summary: "Get observationPointName."
      description: "Returns observationPointName"
      operationId: "getModflowModelBoundaryObservationPointName"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ObservationPointName'
        '404':
          description: "Not found"
        '422':
          description: "Invalid input"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update observationpointName."
      description: "Updates the observationpointName"
      operationId: "putModflowModelBoundaryObservationPointName"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary that needs to be added"
          required: true
          schema:
            $ref: '#/definitions/ObservationPointName'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/observationpoints/{oid}/geometry:
    get:
      tags:
        - "modflowmodel"
      summary: "Get observationPointName."
      description: "Returns observationPointName"
      operationId: "getModflowModelBoundaryObservationPointGeometry"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/PointGeometry'
        '404':
          description: "Not found"
        '422':
          description: "Invalid input"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update observationpointName."
      description: "Updates the observationpointName"
      operationId: "putModflowModelBoundaryObservationPointGeometry"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary that needs to be added"
          required: true
          schema:
            $ref: '#/definitions/PointGeometry'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /modflowmodels/{id}/boundaries/{bid}/observationpoints/{oid}/values:
    get:
      tags:
        - "modflowmodel"
      summary: "Get observationPointName."
      description: "Returns observationPointName"
      operationId: "getModflowModelBoundaryObservationPointValues"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/ObservationPointValuesWithDescription'
        '404':
          description: "Not found"
        '422':
          description: "Invalid input"
      security:
        - api_key: []
    put:
      tags:
        - "modflowmodel"
      summary: "Update observationpointName."
      description: "Updates the observationpointName"
      operationId: "putModflowModelBoundaryObservationPointValues"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of ModflowModel"
          required: true
          type: "string"
        - name: "bid"
          in: "path"
          description: "ID of ModflowModelBoundary"
          required: true
          type: "string"
        - name: "oid"
          in: "path"
          description: "ID of ModflowModelBoundaryObservationpoint"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Boundary that needs to be added"
          required: true
          schema:
            $ref: '#/definitions/ObservationPointValues'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /soilmodels/{id}:
    get:
      tags:
        - "soilmodel"
      summary: "Returns the soilmodelDetails by SoilmodelId"
      description: ''
      operationId: "getSoilmodelById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of soilmodel to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/Soilmodel'
      security:
        - api_key: []

  /soilmodels/{id}/layers:
    get:
      tags:
        - "soilmodel"
      summary: "Returns the layers list"
      description: ''
      operationId: "getSoilmodelLayersById"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of soilmodel to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/Soilmodel'
      security:
        - api_key: []
    post:
      tags:
        - "soilmodel"
      summary: "Adds a new layer"
      description: ''
      operationId: "addSoilmodelLayers"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of soilmodel to return"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/Soilmodel'
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}:
    get:
      tags:
        - "soilmodel"
      summary: "Returns details of an existing layer"
      description: ""
      operationId: "getSoilmodelLayerDetails"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/SoilmodelLayerDetails'
        '404':
          description: "Not found"
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates details of an existing layer"
      description: ""
      operationId: "updateSoilmodelLayerDetails"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            properties:
              name:
                type: "string"
                example: "Top-Layer"
              description:
                type: "string"
                example: "Top-Layer Description"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []
    delete:
      tags:
        - "soilmodel"
      summary: "Delete existing layer"
      description: ""
      operationId: "deleteSoilmodelLayer"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '201':
          description: "successful operation"
          headers:
            Location:
              type: "string"
        '404':
          description: "source not found"
      security:
        - api_key: []

  /soilmodels/{id}/layers/{lid}/values:
    get:
      tags:
        - "soilmodel"
      summary: "Returns values of an existing layer"
      description: ""
      operationId: "getSoilmodelLayerValues"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
      responses:
        '200':
          description: "successful operation"
          schema:
            $ref: '#/definitions/SoilmodelLayerValues'
      security:
        - api_key: []
    put:
      tags:
        - "soilmodel"
      summary: "Updates data of an existing layer"
      description: ""
      operationId: "updateSoilmodelLayerValues"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id if the soilmodel"
          required: true
          type: "string"
        - name: "lid"
          in: "path"
          description: "Layer-Id if the soilmodelLayer"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Layervalues that will be updated"
          required: true
          schema:
            $ref: '#/definitions/SoilmodelLayerValues'
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"
      security:
        - api_key: []

  /scenarioanalyses:
    get:
      tags:
        - "scenarioanalysis"
      summary: "Returns the list of ScenarioAnalyses Projects from the User"
      description: ''
      operationId: "scenarioAnalysesMyProjects"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ScenarioAnalyses'
      security:
        - api_key: []
    post:
      tags:
        - "scenarioanalysis"
      summary: "Creates a scenarioanalysis from ModflowModelId"
      description: "Creates a scenarioanalysis from ModflowModelId"
      operationId: "createScenarioAnalysisFromModflowModel"
      produces:
        - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: "ModflowModelId"
          required: true
          schema:
            type: "object"
            properties:
              id:
                type: "string"
                example: "d9e7b1fa-7372-4822-972d-4657c73fc2b2"
      responses:
        '302':
          description: "Redirect response"
          headers:
            Location:
              type: "string"
        '422':
          description: "Invalid input"

  /scenarioanalyses/public:
    get:
      tags:
        - "scenarioanalysis"
      summary: "Returns the list of ScenarioAnalyses Projects from the User"
      description: ''
      operationId: "scenarioAnalysesPublicProjects"
      produces:
        - "application/json"
      responses:
        '200':
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/ScenarioAnalyses'
      security:
        - api_key: []

# SECURITY
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "X-AUTH-TOKEN"
    in: "header"

# MODELS
definitions:
  ModflowModelDetails:
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      user_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      user_name:
        type: "string"
        example: "John Doe"
      name:
        type: "string"
        example: "Hanoi 2005-2007"
      description:
        type: "string"
        example: "ModflowModel of Hanoi Area 2005-2007"
      area_geometry:
        $ref: '#/definitions/PolygonGeometry'
      time_unit:
        $ref: '#/definitions/TimeUnit'
      lenth_unit:
        $ref: '#/definitions/LengthUnit'
      grid_size:
        $ref: '#/definitions/GridSize'
      bounding_box:
        $ref: '#/definitions/BoundingBox'
      boundaries:
        type: "array"
        items:
          type: "string"
  ModflowModelListItem:
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      user_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      user_name:
        type: "string"
        example: "John Doe"
      name:
        type: "string"
        example: "Hanoi 2005-2007"
      description:
        type: "string"
        example: "ModflowModel of Hanoi Area 2005-2007"
      area_geometry:
        $ref: '#/definitions/PolygonGeometry'
      grid_size:
        $ref: '#/definitions/GridSize'
      bounding_box:
        $ref: '#/definitions/BoundingBox'
  ModflowModelBoundaryListItem:
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      name:
        type: "string"
        example: "Well 123"
      type:
        $ref: '#/definitions/BoundaryType'
      geometry:
        $ref: '#/definitions/Geometry'
      metadata:
        type: "array"
  ModflowModelBoundarySubmitItem:
    type: "object"
    properties:
      name:
        type: "string"
        example: "Well 123"
      type:
        $ref: '#/definitions/BoundaryType'
      geometry:
        $ref: '#/definitions/Geometry'
      affected_layers:
        type: "array"
        items:
          type: "integer"
          example: 0
      metadata:
        type: "object"
        properties:
          well_type:
            $ref: '#/definitions/WellType'
  ModflowModelBoundaryDetails:
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      name:
        type: "string"
        example: "Well 123"
      type:
        $ref: '#/definitions/BoundaryType'
      geometry:
        $ref: '#/definitions/Geometry'
      metadata:
        type: "array"
      observation_points:
        type: "array"
        items:
          $ref: '#/definitions/ModflowModelBoundaryObservationPoint'
  ModflowModelBoundaryObservationPoint:
    type: "object"
    properties:
      id:
        type: "string"
        example: "b69b8575-9501-44d4-af75-7e5cb353ff16"
      name:
        type: "string"
        example: "RH 48"
      geometry:
        $ref: "#/definitions/PointGeometry"
      values_description:
        $ref: '#/definitions/ObservationPointValuesDescription'
      values:
        $ref: '#/definitions/ObservationPointValues'
  ObservationPointValuesWithDescription:
    type: "object"
    properties:
      values_description:
        $ref: '#/definitions/ObservationPointValuesDescription'
      values:
        $ref: '#/definitions/ObservationPointValues'
  ObservationPointValuesDescription:
    type: "array"
    items:
      type: "string"
    example:
      - "date_time"
      - "stage"
      - "bottom"
      - "conductivity"
  ObservationPointValues:
    type: "array"
    items:
      type: "array"
      items:
        type: "string"
      example:
        - "2005-08-15T00:00:00+00:00"
        - "12.01"
        - "10.7"
        - "1000"
  Soilmodel:
    type: "object"
    properties:
      id:
        type: "string"
        example: "32d97bf4-3935-44c2-9b8b-1a2e5a581c9f"
      user_id:
        type: "string"
        example: "a538039b-c676-4ea9-9a2d-61210e42bc06"
      name:
        type: "string"
        example: "Soilmodel Hanoi Area"
      description:
        type: "string"
        example: "Description Soilmodel Hanoi Area"
      layers:
        type: "array"
        items:
          $ref: '#/definitions/SoilmodelLayerListItem'
      borelogs:
        type: "array"
        items:
          $ref: '#/definitions/SoilmodelBoreLogListItem'
      public:
        type: "boolean"
        example: true
  SoilmodelLayerListItem:
    type: "object"
    properties:
      id:
        type: "string"
        example: "2c6dd0c1-dfea-481c-b808-a6cc699f04fb"
      name:
        type: "string"
        example: "Top-Layer"
      description:
        type: "string"
        example: "Top-Layer Description"
      number:
        type: "integer"
        example: 0
  SoilmodelLayerDetails:
    allOf:
      - $ref: "#/definitions/SoilmodelLayerListItem"
    properties:
      values:
        $ref:  '#/definitions/SoilmodelLayerValues'
  SoilmodelLayerValues:
    type: "object"
    properties:
      laytyp:
        type: "string"
        enum: ['confined', 'convertible']
        example: "convertible"
      layavg:
        type: "string"
        enum: ['harmonic', 'logarithmic', 'arithmetic']
        example: "harmonic"
      laywet:
        type: "string"
        enum: ['active', 'inactive']
        example: "inactive"
      top:
        $ref: "#/definitions/LayerValue"
      botm:
        $ref: "#/definitions/LayerValue"
      hk:
        $ref: "#/definitions/LayerValue"
      hani:
        $ref: "#/definitions/LayerValue"
      vka:
        $ref: "#/definitions/LayerValue"
      ss:
        $ref: "#/definitions/LayerValue"
      sy:
        $ref: "#/definitions/LayerValue"
  LayerValue:
    type: object
  SoilmodelBoreLogListItem:
    type: "object"
    properties:
      id:
        type: "string"
        example: "573efe5d-8dfd-4acf-9da5-fe628099913f"
  ScenarioAnalyses:
    type: "object"
    properties:
      id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      user_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      user_name:
        type: "string"
        example: "John Doe"
      name:
        type: "string"
        example: "Hanoi 2005-2007"
      description:
        type: "string"
        example: "ScenarioAnalysis of Hanoi Area 2005-2007"
      area_geometry:
        $ref: '#/definitions/Geometry'
      grid_size:
        $ref: '#/definitions/GridSize'
      bounding_box:
        $ref: '#/definitions/BoundingBox'
      created_at:
        type: "string"
        example: "2017-05-08T08:03:42+00:00"
      base_model_id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      scenario_ids:
        type: "array"
        items:
          type: "string"
        example:
          - "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
          - "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
          - "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      public:
        type: "boolean"
        example: true
  BoundaryType:
    type: "string"
    enum: ["chd", "ghb", "rch", "riv", "wel"]
    default: "wel"
  WellType:
    type: "string"
    enum: ["prw", "puw", "ow", "iw", "smw", "sniw", "snifw", "snpw", "snw", "srw"]
    default: "puw"
  Geometry:
    type: "object"
    properties:
      type:
        $ref: '#/definitions/GeometryType'
      coordinates:
        type: "array"
        minItems: 2
        maxItems: 2
        items:
          type: "array"
          items:
            type: "number"
    example:
      type: "polygon"
      coordinates:
        - 12.1
          10.2
        - 12.2
          10.2
        - 12.2
          10.1
        - 12.1
          10.1
        - 12.1
          10.2
  LineStringGeometry:
    type: "object"
    properties:
      type:
        $ref: '#/definitions/GeometryType'
      coordinates:
        type: "array"
        minItems: 2
        maxItems: 2
        items:
          type: "array"
          items:
            type: "number"
    example:
      type: "linestring"
      coordinates:
        - 12.1
          10.2
        - 12.2
          10.2
        - 12.2
          10.1
        - 12.1
          10.1
  PolygonGeometry:
    type: "object"
    properties:
      type:
        $ref: '#/definitions/GeometryType'
      coordinates:
        type: "array"
        minItems: 2
        maxItems: 2
        items:
          type: "array"
          items:
            type: "number"
    example:
      type: "polygon"
      coordinates:
        - 12.1
          10.2
        - 12.2
          10.2
        - 12.2
          10.1
        - 12.1
          10.1
        - 12.1
          10.2
  PointGeometry:
    type: "object"
    properties:
      type:
        $ref: '#/definitions/GeometryType'
      coordinates:
        type: "array"
        minItems: 1
        maxItems: 1
        items:
          type: "array"
          items:
            type: "number"
    example:
      type: "point"
      coordinates:
        - 12.1
          10.2
  BoundingBox:
    type: "object"
    properties:
      x_min:
        type: "number"
      x_max:
        type: "number"
      y_min:
        type: "number"
      y_max:
        type: "number"
    example:
      x_min: "105.75297728806"
      x_max: "105.91074365467"
      y_min: "20.942021243028"
      y_max: "21.100903658646"
  BoundaryName:
    type: "object"
    properties:
      name:
        type: "string"
        example: "BoundaryName"
  ObservationPointName:
    type: "object"
    properties:
      name:
        type: "string"
        example: "ObservationPointName"
  GridSize:
    type: "object"
    properties:
      n_x:
        type: "integer"
      n_y:
        type: "integer"
    example:
      n_x: "100"
      n_y: "120"
  TimeUnit:
    type: "string"
    enum: ["sec", "min", "h", "d", "yr"]
    default: "d"
  LengthUnit:
    type: "string"
    enum: ["cm", "m", "ft"]
    default: "m"
  GeometryType:
    type: "string"
    enum: ["polygon", "linestring", "point"]
    default: "polygon"
