swagger: '2.0'
info:
  description: >-
    This is the Inowas-Server Api Documentation.
  version: 1.0.0
  title: Inowas DSS Backend
  contact:
    email: ralf.junghanns@gtu-dresden.de
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
host: api.inowas.hydro.tu-dresden.de
basePath: /api
tags:
  - name: user
    description: Everything about the users
  - name: modflowmodel
    description: Everything to build a ModflowModel (T03)
  - name: scenarioanalysis
    description: The ScenarioAnalysis Tool (T07)
schemes:
  - https
paths:
  /users/credentials:
    post:
      tags:
        - user
      summary: Get the API-Key of the user from credentials
      description: ''
      operationId: getApiKey
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: username
          in: formData
          description: The users Username
          required: true
          type: string
        - name: password
          in: formData
          description: The users Password
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              api_key:
                type: "string"
        '400':
          description: Invalid username/password supplied

  /scenarioanalysis/my/projects:
    get:
      tags:
        - scenarioanalysis
      summary: Returns the list of ScenarioAnalysis Projects from the User
      description: ''
      operationId: scenarioAnalysisMyProjects
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/ScenarioAnalysis'
      security:
        - api_key: []

  /scenarioanalysis/public/projects:
    get:
      tags:
        - scenarioanalysis
      summary: Returns the list of ScenarioAnalysis Projects from the User
      description: ''
      operationId: scenarioAnalysisPublicProjects
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/ScenarioAnalysis'
      security:
        - api_key: []

# SECURITY
securityDefinitions:
  api_key:
    type: apiKey
    name: X-AUTH-TOKEN
    in: header

# MODELS
definitions:
  ScenarioAnalysis:
    type: object
    properties:
      scenario_analysis_id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      user_id:
        type: "string"
        example: "4716f088-8651-43be-b3b9-815da7bfd0f3"
      user_name:
        type: "string"
        example: "John Doe"
      name:
        type: "string"
        example: "Hanoi 2005-2007"
      description:
        type: "string"
        example: "ScenarioAnalysis of Hanoi Area 2005-2007"
      area_geometry:
        type: object
        $ref: '#/definitions/Geometry'
      grid_size:
        type: object
        $ref: '#/definitions/GridSize'
      bounding_box:
        type: object
        $ref: '#/definitions/BoundingBox'
      created_at:
        type: "string"
        example: "2017-05-08T08:03:42+00:00"
      base_model_id:
        type: "string"
        example: "fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3"
      scenario_ids:
        type: "array"
        items:
          type: "string"
        example:
          - fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3
          - fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3
          - fbc2b2fd-9b39-4277-a6cd-cf1bd20f07c3
      public:
        type: "boolean"
        example: true
  Geometry:
    type: object
    properties:
      type:
        type: "string"
      coordinates:
        type: "array"
        items:
          type: "array"
          items:
            type: "number"
    example:
      type: "polygon"
      coordinates:
        - 12.1
          10.2
        - 12.1
          10.2
        - 12.1
          10.2
  BoundingBox:
    type: object
    properties:
      x_min:
        type: "number"
      x_max:
        type: "number"
      y_min:
        type: "number"
      y_max:
        type: "number"
      srid:
        type: "integer"
      d_x:
        type: "number"
      d_y:
        type: "number"
    example:
      x_min: 105.75297728806
      x_max: 105.91074365467
      y_min: 20.942021243028
      y_max: 21.100903658646
      srid: 4326
      d_x: 16402.405392946475
      d_y: 17686.774655707854
  GridSize:
    type: object
    properties:
      n_x:
        type: "integer"
      n_y:
        type: "integer"
    example:
      n_x: 100
      n_y: 120
