<h3>
    You did it! You have registered to Inowas!
</h3>

<p>
    Hallo {{ name }}!
</p>

<p>
    You're successfully registered.
    To Activate your account click here:
</p>

<p>
    <a href="{{ url }}">Activate your Account here.</a>.
</p>

<p>
    Thanks!
    Ralf from the INOWAS-Team
</p>
